/* 
    Document   : pandoAFPPipeLine
    Created on : Oct 18, 2013, 10:51:04 AM
    Author     : ajmiro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;    
}


#header {

margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: table;
    font-size: larger;
    font-family: "Arial";
    background: white;
    height: 40px;
    color: darkgrey;
    font-weight: bold;
}

#headerColumn1 {

    width: 200px;
    display: table-cell;
    vertical-align: middle;
    
}

#headerColumn2 {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: darkgrey;
}

html body {

}

#document {

    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-family: arial;
}

#breadcrumb {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: large;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

#keyword {

    display: table;
    width: 100%;
    background: grey;
    height: 40px;
}

#text {

    display: table-cell;
    width: 50px;
    padding-left: 10px;    
    vertical-align: middle;
    color: white;
}

#txtInput {

    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 300px;    
}

#dataSection {

    display: table;
    margin-top: 10px;    
}

#dataSectionComments {    
    margin-top:  10px;
}

#dataList {

    width: 800px;
    vertical-align: top;
    display: table-cell;
/*    background: #F0F0F0;*/
    overflow: auto;
}

#mainSection {    
    margin-left: 10px;    
}

img {

    width: 80%;
}

#candidateImage {
    width: 100%;
}

#listTitle {   
    margin-right: auto;
    margin-left: auto;
    text-align: center;
/*    background: white;
    width: 90px;
    color: black;*/
}

#listTitleComments {   
    margin-right: auto;
    margin-left: auto;
    text-align: center;
/*    background: white;
    width: 285px;
    color: black;*/
}

#backgroundHighlight {
    background-color: white;
/*    padding: 10px;*/
    border: black;
    border-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 9px;
}

#listTitleDocument {   
    margin-right: auto;
    margin-left: auto;
    text-align: center;
/*    background: white;
    width: 125px;
    color: black;*/
}

#listTitleDT {   
    margin-right: auto;
    margin-left: auto;
    text-align: center;
/*    background: white;
    width: 135px;
    color: black;*/
}

#listTitleDTCandidate {   
    margin-right: auto;
    margin-left: auto;
    text-align: center;
/*    background: white;
    width: 90px;
    color: black;*/
}

#listTitle2 {    
    
    margin-right: auto;
    margin-left: auto;
    text-align: center;
/*    background: white;
    width: 160px;
    color: black;*/
}

#titleborder {      
}

#keywordInput {

    width: 95%;
    background: white;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
}

#rightSideHeader {

    width: 200px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

#filtersText {

    width: 100px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    color: white;
}

#buttondiv {

    vertical-align: middle;
    padding-top: 7px;
    text-align: right;
    padding-right: 10px;
}

#goButton {

    margin-right: auto;
    vertical-align: middle;
}

#dataHeader {

    background: lightgray;
    color: #888888;
/*    text-align: center;*/
    font-family: arial;   
}

#listItemSection {
    width: 345px;
    padding: 10px;
    background: #F0F0F0;
    margin-top: 10px;
    height: 700px;
}

#listItemSectionCandidateList {
    width: 345px;
    padding: 10px;  
    background: #F0F0F0;
    margin-top: 10px;
    height: 700px;
}

#mainSectionContent {    
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 650px;   
}

#candidateDetails {

    display: table;
    font-size: x-large;
    color: blue;
}

#imageBorder {

    display: table;
    border-width: thin;
    width: 200px;
    height: 200px;
    border: black;
    border-style: solid;
}

#candidateData {

    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    text-align: left;    
}

#pipelineData {

    display: table-cell;
    font-size: x-large;
    padding: 5px;    
    text-align: left;
    
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #80DB39),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #80DB39 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #80DB39 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #80DB39 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #80DB39 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #80DB39 0%, #FFFFFF 100%);
}

#mainSectionContentImageOnly {
    padding-top: 10px;
}

#mainSectionImageOnly {
    padding-top: 10px;
    width: 100%;
}

#pageImage {
    width: 100%;
}

#pageControlsImageOnly {    
    width: 100%;        
}

#pageDownImageOnly {    
    text-align: left;
    height: 10px;   
    width: 100px;    
}

#pageUpImageOnly {    
    text-align: right;
    height: 10px;
    width: 100px;
    margin-left: 100px;
    margin-top: -9px;
}

#mainSectionImageOnlyTop {
    padding-top: 10px;
    width: 100%;       
}

#pageControlsImageOnlyTop {    
    width: 100%;
}

#pageDownImageOnlyTop {    
    text-align: left;
    height: 10px;   
    width: 100px;    
}

#pageUpImageOnlyTop {    
    text-align: right;
    height: 10px;
    width: 100px;
    margin-left: 100px;
    margin-top: -9px;
}

#mainSectionContentImageOnlyTop {
    padding-top: 10px;
    margin-bottom: 90px;
}

.listItem {
    color: black;     
    font-weight: bold;
}

.posNegCount {
    text-align: right;
    font-size: smaller;  
/*    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: thin;*/
}


a:link {color: black}

#resultDocumentType {
    font-size: larger;
}

#resultCandidateName {
    font-weight: bold;
}

#mainSectionContentSearchResults {
    margin-top: 10px;
    margin-left: 9px;
}

#documentTypeData {
    display: table-cell;
    font-size: x-large;
    color: blue;
}

#CommentSection {
    text-align: left;
}

#commentText {
    height: 200px;
    width: 440px;
}

#mainSectionContentComments {
    margin-top: 10px;
}

.listItemComment {          
     margin-bottom: 10px;
     display: table;
}

.userAndTimeStampComment { 
    display: table-cell;
    vertical-align: middle;
}

.comment {
    font-style: italic;
    padding-left: 10px;
    font-size: x-large;
    color: blue;
    margin-bottom: 10px;
}

.thumb {
    width: 40px;
    height: 40px;
    display: table-cell;
}

#positiveInput {
    width: 40px;
    height: 40px;
}

#negativeInput {
    width: 40px;
    height: 40px;    
}

.InputMainPage {    
    width: 20px;
    height: 20px;    
    background-color: transparent;
    vertical-align: middle;
}

.commentCounts {
    text-decoration: none;    
/*    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: thin;    */
}

.wordWrap {
    word-wrap: break-word;
    width: 150px;
}

#tbl {
    width: 350px;
}

#postCommentButton{
    text-align: right;
    margin-top: 5px;
}

#GoodBad{    
}

#pipelinename{   
    text-align: left;
    font-size: x-large;
    color: blue;
    margin-bottom: 5px;
}

#rankNumber{
    text-align: center;
}

.tableHeader {
    font-weight: normal;    
}

#ETSFilter {
    display: table;
}

#ETSFilterText{
    display: table-cell;
}

#ETSFilterSelect{
    display: table-cell;
}